@model IEnumerable<Product>




<div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <h4 class="d-flex justify-content-center pb-4">Filter By Product:</h4>
              <div class="form-group has-search mb-4 d-flex justify-content-center pb-4">
                <span class="fa fa-search form-control-feedback"></span>
                <form action="/Product" method="get">
                    <input type="text" placeholder="Search" name="productFilter" maxlength="50"/>
                    <input type="submit" value="Search" />
                </form>
              </div>
            </div>
          <div class="row">
            @foreach(var item in Model)
            {
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.ProfileImageUrl" width="100%" height="225" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">@item.Title</p>
                  <p class="card-text">@item.Description</p>
                  <p class="card-text">£@item.Price</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a type="btn btn-success" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"
                            class="btn btn-sm btn-outline-secondary">View</a>
                      
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a type="button" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }

                    </div>
                  </div>
                </div>
              </div>
              </div>
            }
            
            
          </div>
          
        </div>

        <div class="row">
              <div class="d-flex justify-content-center">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin")){

                   <a type="button" asp-controller="Product" asp-action="Create" asp-route-id=""
                                            class="btn btn-outline-secondary w-25">Create New Product</a>
                  }
              </div>
          </div>
</div>